@import '../../../_settngs/variables.css';

.Bar {
  background-color: white;
  display: flex;
  flex-direction: column reverse;
  align-items: flex-end;
  transition-duration: 0.125s;
}

.Bar__Text {
  margin: 0 auto 0.25rem;
}

.Bar_comparing {
  background-color: var(--primary-light);
}

.Bar_compared {
  background-color: var(--secondary-light);
}

.Bar_sorted {
  background-color: var(--primary);
}
