@import './_settngs/variables.css';

.App {
  min-height: 100vh;
  min-width: 100vw;
  overflow: scroll;

  text-align: center;
  color: var(--text-color);

  background-color: var(--background-color-1);
  transition: background-color, 0.5s ease-in;
}

.App__Body {
  padding-top: 64px;
}
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
