:root {
  --blue: rgb(0, 122, 255);
  --blue-500: rgb(77, 163, 255);
  --blue-50: rgba(0, 122, 255, 0.5);

  --green: rgb(52, 199, 89);
  --green-500: rgb(117, 208, 140);
  --green-50: rgba(52, 199, 89, 0.5);

  --red: rgb(255, 59, 48);
  --red-500: rgb(255, 131, 125);
  --red-50: rgba(255, 59, 48, 0.5);

  --gray-50: rgb(242, 242, 247);
  --gray-100: rgb(229, 229, 234);
  --gray-200: rgb(209, 209, 214);
  --gray-300: rgb(199, 199, 204);
  --gray-400: rgb(174, 174, 178);
  --gray-500: rgb(142, 142, 147);
  --gray-600: rgb(99, 99, 102);
  --gray-700: rgb(72, 72, 74);
  --gray-800: rgb(58, 58, 60);
  --gray-850: rgb(44, 44, 46);
  --gray-900: rgb(28, 28, 30);
}
