@import '../../../_settngs/variables.css';

.SortChart {
  width: 960px;
  min-height: 400px;
  height: 50vh;
  padding: 2rem;

  background-color: var(--blue-500);

  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
